/*
Per convenzione si mette margin 0 e padding 0 come
se fosse un foglio bianco

box-sizing permette di includere il bordo nella misurazione del box
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", sans-serif;
}


/* Questa arrow è un svg che viene passato come url  usando la proprietà background
    l'url è stato realizzato da chatGPT
*/
.arrow-back {
  background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='42px' height='22px' viewBox='0 6 22 12'%3E%3Cpolygon points='6.3,12.8 20.9,12.8 20.9,11.2 6.3,11.2 10.2,7.2 9,6 3.1,12 9,18 10.2,16.8' fill='black'/%3E%3C/svg%3E")
    no-repeat 50% 50%;
  border: 0;
  width: 32px;
  height: 22px;
  position: absolute;
  top: 30px;
  left: 25px;
}

.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

div.chi {
  font-size: 1.5rem;
}

div.title-left {
  font-size: 11rem;
  font-weight: 900;
  transform: rotate(-90deg);
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
  div.title-left {
    font-size: 9rem;
  }
}

@media only screen and (max-width: 992px) {
  div.title-left {
    font-size: 5.5rem;
  }
}

@media only screen and (max-width: 768px) {
  div.title-left {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 768px) {
  div.title-left {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 480px) {
  div.title-left {
    font-size: 1.5rem;
  }
}
