:root {
  --bg-color-light: #fafafa;
  --bg-color: #e4e4e7;
  --text-color: #09090b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #09090b;
}

body {
  width: 100vw;
  height: 100vh;
  /*   background-color: var(--text-color);
 */
  /* background-color: black; */

  background-image: linear-gradient(
    to right top,
    var(--bg-color-light),
    var(--bg-color)
  );
  background-position: center;
  background-size: cover;
  color: var(--text-color);
}

.arrow-back {
  background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='42px' height='22px' viewBox='0 6 22 12'%3E%3Cpolygon points='6.3,12.8 20.9,12.8 20.9,11.2 6.3,11.2 10.2,7.2 9,6 3.1,12 9,18 10.2,16.8' fill='black'/%3E%3C/svg%3E")
    no-repeat 50% 50%;
  /* Replace %23000000 with your desired hex color code for the black fill */
  border: 0;
  width: 32px;
  height: 22px;
  position: absolute;
  top: 30px;
  left: 25px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2em;
  border-top: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

footer a {
  text-decoration: none;
  color: #0f0f0f;
  font-family: "Space Mono", sans-serif;
  padding: 0 1em;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.social {
  text-decoration: none;
  font-family: "Space Mono", sans-serif;
  font-size: 12rem;
  font-weight: bolder;
  color: grey;
  line-height: 100%;
  overflow: hidden;
  text-transform: uppercase;
}
.social:hover {
  color: black;
}

div {
  display: flex;
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
  .social {
    font-size: 10rem;
  }
}

@media only screen and (max-width: 992px) {
  .social {
    font-size: 6.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .social {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .social {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 480px) {
  .social {
    font-size: 2.5rem;
  }
}
